{% extends "base_generic.html" %}


{% block title %}
<title>Markets Index</title>
{% endblock %}

{% block content %}
<h1>Markets Index</h1>

{% if user.is_authenticated %}
<p>
<a href="{% url 'markets:create-market' %}"><strong>Create a new market.</strong></a>
</p>
{% endif %}

<table class="table">
	<tbody>
		{% for market in market_list|dictsortreversed:"creationdate"|dictsortreversed:"curated" %}
		{% if market.curated %}<tr class="table-primary">{%else%}<tr>{%endif%}
			<td><a href="{% url 'markets:market-detail' market.id %}">{{market.name}}</a><br/>{{market.desc}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}