{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% block title %}
<title>{{option.name}}</title>
{% endblock %}

{% block contextualsidebar %}
{% if portfolio %}
Your balance in this market is ¤{{portfolio.balance}}.
{% endif %}
{% endblock %}

{% block content %}
<h1>{{option.name}}</h1>

<p>
Trading on {{option.name}}, part of the "<a href="{% url 'markets:market-detail' option.market.id %}">{{option.market.name}}</a>" market.
</p>

{% if not option.closed %}

<p>Create a Buy Order if you think that the correct price of this option is <em>above</em> your MaxPrice.</p>

<form action="" method="post">
	{% csrf_token %}
	<div class="form-group row">
	 <label for="{{ buyform.maxPrice.id_for_label }}" class="col-sm-2 col-form-label">{{ buyform.maxPrice.label }}:</label>
	  <div class="col-sm-10">
	   <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text">¤</span>
        </div>
	   {% render_field buyform.maxPrice class="form-control" %}
	   </div>
	  </div>
	  {% for error in buyform.maxPrice.errors %}
	   <span class="help-block">{{ error }}</span>
	  {% endfor %}
	</div>
	<div class="form-group row">
	 <label for="{{ buyform.maxNumber.id_for_label }}" class="col-sm-2 col-form-label">{{ buyform.maxNumber.label }}:</label>
	  <div class="col-sm-10">{% render_field buyform.maxNumber class="form-control" %}</div>
	  {% for error in buyform.maxNumber.errors %}
	   <span class="help-block">{{ error }}</span>
	  {% endfor %}
	</div>
	<input type="submit" class="btn btn-primary" name="buyofferbutton" value="Create Buy Order">
</form>

<br/>

<p>Create a Sell Order if you think that the correct price of this option is <em>below</em> your MinPrice.</p>

<form action="" method="post">
	{% csrf_token %}
	<div class="form-group row">
	 <label for="{{ sellform.minPrice.id_for_label }}" class="col-sm-2 col-form-label">{{ sellform.minPrice.label }}:</label>
	  <div class="col-sm-10">
	   <div class="input-group mb-3">
        <div class="input-group-prepend">
         <span class="input-group-text">¤</span>
        </div>
	   {% render_field sellform.minPrice class="form-control" %}
	   </div>
	  </div>
	  {% for error in sellform.minPrice.errors %}
	   <span class="help-block">{{ error }}</span>
	  {% endfor %}
	</div>
	<div class="form-group row">
	 <label for="{{ sellform.maxNumber.id_for_label }}" class="col-sm-2 col-form-label">{{ sellform.maxNumber.label }}:</label>
	  <div class="col-sm-10">{% render_field sellform.maxNumber class="form-control" %}</div>
	  {% for error in sellform.maxNumber.errors %}
	   <span class="help-block">{{ error }}</span>
	  {% endfor %}
	</div>
	<input type="submit" class="btn btn-primary" name="sellofferbutton" value="Create Sell Order">
</form>

<p>
Part of the "<a href="{% url 'markets:market-detail' option.market.id %}">{{option.market.name}}</a>" market.
</p>

<h2>Current Buy Orders</h2>
<ul>
{% for buyorder in buyorder_list %}
<li>{{buyorder.creator}} buying {{buyorder.maxNumber}} for ¤{{buyorder.maxPrice}}</li>
{% endfor %}
</ul>

<h2>Current Sell Orders</h2>
<ul>
{% for sellorder in sellorder_list %}
<li>{{sellorder.creator}} selling {{sellorder.maxNumber}} for ¤{{sellorder.minPrice}}</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}